
body {
    font-family: verdana;
    margin: 0px;
}

.viewport {
    min-height: 80vh;
}

.graph-container {
    padding: 10vh 0;
}

.inner-viewport {
    width: 90vw;
    height: 80vh;
    margin: auto;
}

#player-selection {
    padding-top: 5px;
    padding-left: 5px;
    position: fixed;
    z-index: 1;
}

#player-selection form {
    display: inline;
}

#player-selection span {
    margin-left: 10px;
}

#overall {
    margin: 0px auto;
    padding: 10vh 0px;
}

#overall td {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

#overall td.overall-rank {
    width: 35px;
    text-align: right;
    padding-right: 10px;
}

#overall td.overall-time {
    padding-left: 10px;
    text-align: right;
}

#overall table {
    border-spacing: 0px;
    border-collapse: collapse;
}

#overall ol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 80vh;
}

#overall ol li {
    width: 250px;
    height: 32px;
    padding: 2px;
    vertical-align: middle;
    line-height: 32px;
}

#overall ol li img {
    vertical-align: middle;
}

#overall ol li span {
}